*{
  margin:0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}
body{
  background: #080808;
  color: white;
}
.round-button {
            display: block;
            width: 80px;
            height: 80px;
            line-height: 80px;
            border-radius: 50%;
            background-color: #4CAF50;
            color: white;
            text-align: center;
            cursor: pointer;
            text-decoration: none;
        }
    
.bg
{
    width: 100%;
    z-index: 0;
}

/* Container holding the image and the text */
.container {
   padding: 10px 10%;

  }

  .nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  nav ul li{
    display:inline-block;
    list-style: none;
    margin:10px 20px;
  }
  nav ul li a{
    color: rgb(240, 234, 234);
    text-decoration: none;
    font-size: 20px;
    position: relative;
  }

  nav ul li a::after{
    content:'';
    width: 100%;
    height: 3px;
    background:#ff004f;
    position: absolute;
    left:0;
    bottom:-6px;

  }
  

  #header{
    width:100%;
    height: 100vh;
    background-image: url(Snow-Wide.jpg);
    background-size: cover;
    background-position: center;

  }